@import "tailwindcss";

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  color: white;
}

.landing .header {
  background-image: url(/public/landing-img/bacground-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
}

.question:hover {
  transition: all 0.1s ease;
  transform: scale(1.1);
  cursor: pointer;
}
